In [33]:
import sportsdataverse.nfl as nfl 
from bs4 import BeautifulSoup
import os
#import urllib.request
import requests
import pandas as pd
import numpy as np
import scipy
import difflib
import json
#import matplotlib.pyplot as plt
import time
import scipy
import statistics as stats
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import nfl_data_py as nfl_dp

week = 11

In [13]:
# --------------------------- load and prepare data -------------------- #
pbp = nfl.load_nfl_pbp(seasons=([2024]),return_as_pandas=True)
data=pbp.copy()

pbp = pbp[((pbp['pass'] == 1) | (pbp['rush'] == 1)) & ( pbp.season_type == "REG")]
mask = {'home':1,'away':0}
pbp.posteam_type = pbp.posteam_type.map(mask)


cols = pbp.select_dtypes(include = 'number').columns
df_off = pbp.groupby(['posteam','game_id'])[cols].agg(['min','max','sum','median','mean','size'])
df_def = pbp.groupby(['defteam','game_id'])[cols].agg(['min','max','sum','median','mean','size'])


df_off = pbp.groupby(['posteam'])[cols].agg(['min','max','sum','median','mean','size'])
df_def = pbp.groupby(['defteam'])[cols].agg(['min','max','sum','median','mean','size'])

df_off.index = np.array(df_off.index) + '_off'
df_def.index = np.array(df_def.index) + '_def'

df = pd.concat([df_off,df_def])
df[[('pass_ypa','value')]] =  df[[('passing_yards','sum')]].values/df[[('pass_attempt','sum')]].values
df[[('rush_ypa','value')]] =  df[[('rushing_yards','sum')]].values/df[[('rush_attempt','sum')]].values
df[[('success_rate','value')]] =  df[[('success','sum')]].values/df[[('success','size')]].values

df = df.sort_index()

df_off = df.loc[df.index.str.contains('_off')]
df_def = df.loc[df.index.str.contains('_def')]

100%|██████████| 1/1 [00:08<00:00,  8.18s/it]

In [34]:
pbp.columns[350:450]

Index(['special', 'play', 'passer_id', 'rusher_id', 'receiver_id', 'name',
       'jersey_number', 'id', 'fantasy_player_name', 'fantasy_player_id',
       'fantasy', 'fantasy_id', 'out_of_bounds', 'home_opening_kickoff',
       'qb_epa', 'xyac_epa', 'xyac_mean_yardage', 'xyac_median_yardage',
       'xyac_success', 'xyac_fd', 'xpass', 'pass_oe'],
      dtype='object')

In [35]:
# --------------------------- offense rank quick view -------------------- #
offense = df_off[[('epa','mean'),('passing_yards','sum'),('pass_ypa','value'),('rush_ypa','value'),('success_rate','value'),('pass_oe','mean')]].rank(ascending=False).astype('int')
df_off[[('epa','mean'),('passing_yards','sum'),('pass_ypa','value'),('rush_ypa','value'),('success_rate','value'),('pass_oe','mean')]].rank(ascending=False).astype('int').style.background_gradient(cmap='coolwarm')

In [16]:
# --------------------------- defense rank quick view -------------------- #
defense = df_def[[('epa','mean'),('passing_yards','sum'),('pass_ypa','value'),('rush_ypa','value'),('success_rate','value')]].rank(ascending=True).astype('int')
df_def[[('epa','mean'),('passing_yards','sum'),('pass_ypa','value'),('rush_ypa','value'),('success_rate','value')]].rank(ascending=True).astype('int').style.background_gradient(cmap='coolwarm')

In [17]:
import nfl_data_py as nfl_dp
s = nfl_dp.import_schedules(years=[2024])

In [20]:
s = s[s['week'] == week]

In [21]:
away_team = 'ATL'
home_team = 'SEA'

In [22]:
ho = offense.loc[home_team+'_off',:]
ad = defense.loc[away_team+'_def',:]

hd = defense.loc[home_team+'_def',:]
ao = offense.loc[away_team+'_off',:]

In [29]:
pd.DataFrame([ho,ad]).fillna(0).astype('int').style.background_gradient(cmap='coolwarm')

In [32]:
pd.DataFrame([hd,ao]).fillna(0).astype('int').style.background_gradient(cmap='coolwarm')